<div class="grid">
<header class="header-pr">
        <h2>Sistema Integral de Material Escolar</h2> <br>
        <h2 class="ml-5">
        <strong>D</strong>epartamento de 
        <strong>D</strong>esarrollo 
        <strong>A</strong>cademico</h2>
</header>
    <%= render "layouts/lateral" %>
    <div class="container main d-flex flex-column justify-content-center">
        <strong class="h2 my-3" style="word-break: break-word">Bienvenid@ <%= current_user.email %></strong>

        <div class="row">
            <div class="col-sm-12 col-md-6 text-center">
                <h1>Fecha</h1>
                <h1><%= Time.now.strftime('%d/%m/%Y') %></h1>
                <br>
                <h1>Hora</h1>
                <p id="date_time" class="h1"></p>
            </div>
            <div class="col-sm-12 col-md-6 row">
                <div class="col-md-6 col-xs-12 text-center">
                <%= image_tag("ittlahuac", class:"img-fluid") %>
                </div>
                <div class="col-md-6 col-xs-12 botonera">
                <%= link_to raw("<i class='mi md-28'>keyboard_arrow_right</i>Prestamo"),
                new_registry_path, class: 'btn btn-outline-primary' %>

                <%= link_to raw("<i class='mi md-28'>access_alarm</i>Prestamos en curso"),
                registries_path, class: "btn btn-warning" %>

                <%= link_to raw("<i class='mi md-28'>equalizer</i>Registros"),
                history_registry_path, class: "btn btn-outline-danger" %>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer d-flex justify-content-start">
        <div class="container">
            <%= link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
        </div>
    </footer>
</div>
