<%= render 'layouts/headerDate' %>
<div class="container">
<br>
<h2>Modificar Usuario</h2>
<div class="form" style="margin: 0 auto; max-width: 480px;">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, class: "form-control", autocomplete: 'off' %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: "form-control", autocomplete: 'off' %>
  </div>

  <div class="form-group">
    <%= f.label 'Password actual' %> <i class="text-danger">(es necesario ingreses la actual contraseña)</i>
    <%= f.password_field :current_password, autocomplete: "off", class: "form-control", style: "box-shadow: 0 0 15px 3px crimson" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password%> <i>(Deje este espacio en blanco si no desea cambiarla)</i><br />
    <%= f.password_field :password, autocomplete: "off" , class: "form-control"%>
    <% if @minimum_password_length %>
    <small class="form-text text-muted"><%= @minimum_password_length %> caracteres como minimo</small>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label 'Password confirmación' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
  
    <%= f.submit "Actualizar", class: "btn btn-success btn-lg btn-block" %>
  
<% end %>

</div>
<br><br>
<div class="form d-flex justify-content-around" style="background-color:#d9534f; color:white;">
  <h3 class="font-weight-bold">Borrar mi cuenta</h3>
  <%= button_to "Borrar cuenta", registration_path(resource_name), data: { confirm: "Estas completamente seguro?" }, method: :delete, class: "btn btn-warning" %>
</div>
<br>
</div>