<div class="grid-comp">
<%= render 'layouts/headerDate' %>
<%= render 'layouts/lateral' %>
    <div class="container main">
        <br>
        <h1>Materiales</h1>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-2">
            
            <% if @article_find %>
            <!-- Form update-->
                <%= render 'articles/update' %>
            <!-- Form update-->
            <% else %>
            <!-- Form new -->
                <%= form_for(@article) do |f| %>
                <div class="form-group">
                    <%= f.label :name, "Nombre" %>
                    <%= f.text_field :name, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :details, "Marca y modelo" %>
                    <%= f.text_field :details, class: "form-control" %>
                    <small class="text-muted">Separe con una coma cada uno</small>
                </div>
                <div class="form-group">
                    <%= f.label :description, "Descripcion" %>
                    <%= f.text_area :description, class: "form-control", rows: 2 %>
                </div>
                <%= f.submit "Guardar", class: "btn btn-success" %>
                <% end %>
            <!-- Form new -->
            <% end %>
            </div>

            <!-- Cards Article -->
            <% @articles.each do |art| %>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-2">
                    <div class="card border-success mb-3" style="max-width: 20rem;">
                    <div class="card-header bg-transparent border-success d-flex justify-content-between">
                        <div>
                            <%= art.name %>
                        </div>
                        <div>
                        <!-- edicion -->
                            <a href="/articles/<%= art.id %>" class="message edit px-2" data-toggle="tooltip" data-placement="top" title="Editar">
                                <i class="mi md-18">&#xE150;</i>
                            </a>
                            
                            <%= link_to raw("<i class='mi md-18 md-black'>&#xE92B;</i>"), art, 
                            method: :delete, 
                            data: { confirm: 'Estas seguro de eliminarlo?' }, 
                            class: "message destroy p-2",
                            "data-toggle" => "tooltip",
                            "data-placement" => "top",
                            :title => "Eliminar"%>
                        <!-- edicion -->
                        </div>
                    </div>
                    <div class="card-body text-success" style="position: relative">
                        <h4 class="card-title"><%= art.details %></h4>
                        <div class="card-text">
                            <!-- button modal -->
                            <span class="build message" data-toggle="tooltip" data-placement="top" title="Registrar Mantenimiento">
                                <button type="button" id="<%= art.id %>" class="btn btn-outline-secondary" data-toggle="modal" data-target="#modalMaintenance" style="border:none">
                                    <i class="mi">&#xE869;</i>
                                </button>
                            </span>
                            <!-- button modal -->
                            
                            Mantenimiento: <br>
                            
                            <div style="text-indent: 1em">
                                <%= art.maintenance.nil? ? raw("<div class='text-danger'>>> No registrado</div>") : art.maintenance.strftime('%a, %d %b %Y') %> <br>
                            </div>
                            
                            En servicio: <br>
                            
                            <div style="text-indent: 1em">
                            
                            <% if art.service == 0 %>
                                <div class='text-danger'> >>Sin registrar<< </div>
                            <% else %>
                            <div class="text-primary">
                                <% if (art.service) < 86400 %>
                                    <%= Time.at(art.service).utc.strftime "%H:%M:%S" %>
                                <% else %>
                                    <%= Time.at(art.service).utc.strftime "#{(art.service / 86400).to_i} dia(s) %H:%M:%S" %>
                                <% end %>
                            </div>    
                            <% end %>
                            </div>

                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-success text-muted text-truncate" style="height:80px; overflow-y:auto; white-space:normal"><p><%= art.description %></p></div>
                    </div>
                </div>
            <% end %>
            <!-- Cards Article -->

            <!-- Modal Box-->
            <div class="modal fade" id="modalMaintenance" tabindex="-1" role="dialog" aria-labelledby="modalMaintenanceLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalMaintenanceLabel">Indique ultimo mantenimiento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <%= form_for (@article) do |f| %>
                    hola <%= @article.id %> <br>
                    adios <%= @article.name %>
                    <div class="form-group his-form">
                        <%= f.label :maintenance, "Indique una fecha" %>
                        <%= f.text_field :maintenance, class: "form-control", autocomplete: "off", value: Time.now%>
                    </div>
                        <%= f.submit "Guardar", class: "btn btn-success" %>
                    <% end %>
                      
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
            </div>
            <!-- Modal Box-->
        </div>
    </div>
    <%= render 'layouts/footer' %>
</div>
