<div class="grid-comp">
<%= render 'layouts/headerDate' %>
<%= render 'layouts/lateral' %>
    <div class="container main">
        <br>
        <h1>Materiales</h1>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-2">
            
            <% if @article_find %>
            <!-- Form update-->
                <%= render 'articles/update' %>
            <!-- Form update-->
            <% else %>
            <!-- Form new -->
                <%= form_for(@article) do |f| %>
                <div class="form-group">
                    <%= f.label :name, "Nombre" %>
                    <%= f.text_field :name, class: "form-control" %>
                </div>
                <div class="form-group">
                    <%= f.label :details, "Marca y modelo" %>
                    <%= f.text_field :details, class: "form-control" %>
                    <small class="text-muted">Separe con una coma cada uno</small>
                </div>
                <div class="form-group">
                    <%= f.label :description, "Descripcion" %>
                    <%= f.text_area :description, class: "form-control", rows: 2 %>
                </div>
                <%= f.submit "Guardar", class: "btn btn-success" %>
                <% end %>
            <!-- Form new -->
            <% end %>
            </div>

            <!-- Cards Article -->
            <% @articles.each do |art| %>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 my-2">
                    <div class="card border-success mb-3" style="max-width: 20rem;">
                    <div class="card-header bg-transparent border-success d-flex justify-content-between">
                        <div>
                            <%= (art.name).capitalize %>
                        </div>
                        <div>
                            <a href="/articles/<%= art.id %>" style="line-height: 1px; color: #2962FF"><i class="mi md-18">&#xE150;</i></a>
                            <%= link_to raw("<i class='mi md-18 md-black'>&#xE92B;</i>"), art, method: :delete, data: { confirm: 'Estas seguro de eliminarlo?' }, style: "line-height: 1px; color: red" %>
                        </div>
                    </div>
                    <div class="card-body text-success" style="height: 175px">
                        <h4 class="card-title"><%= art.details %></h4>
                        <div class="card-text">
                            Mantenimiento: <br>
                            DD/MM/YYYY <br>
                            En servicio: <br>
                            HH:MM
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-success text-muted text-truncate" style="height:80px; overflow-y:auto; white-space:normal"><p><%= art.description %></p></div>
                    </div>
                </div>
            <% end %>
            <!-- Cards Article -->

        </div>
    </div>
    <%= render 'layouts/footer' %>
</div>