<%= form_for @department, url: {action: "create"} do |f| %>
    <div class="form-group">
        <label for="name">Nombre</label>
        <%= f.text_field :name, placeholder: "nombre del departamento", class: "form-control" %>
    </div>
    <div class="form-group">
        <label for="abbrev">Abreviatura del departamento:</label>
        <%= f.text_field :abbrev, placeholder: "nombre del departamento abreviado", class: "form-control", maxlength: 15 %>
        <small class="form-text text-muted">Ingrese como maximo 15 caracteres.</small>
    </div>
    <div class="form-group">
        <label for="apartment_manager">Encargado del departamento:</label>
        <%= f.text_field :apartment_manager, placeholder: "ingrese nombre completo", class: "form-control" %>
        <small class="form-text text-muted">Ingrese este campo adecuadamente para los reportes, por ejemplo podria ser Ing. Jardines Jardines Jose.</small>
    </div>
    <%= f.submit "Guardar", class: "btn btn-success" %>
<% end %>