<div class="grid-comp">
<%= render "layouts/headerDate" %>
<%= render "layouts/lateral" %>
    <div class="container-fluid main">

        <!-- Container simple -->
        <div class="container my-3">
            <h1>Historial</h1>
            <div class="d-flex align-items-center mb-4 myFlex-column">
                <!-- Control de vistas-->
                <div class="d-flex flex-column">
                    <button class="btn btn-warning my-2">Generar reporte PDF</button>
                    <button id="graphic-handle" class="btn btn-info my-2 on" onclick="graphic_hide()">Mostrar Tabla</button>
                </div>
                <!-- Control de vistas-->

                <!-- Control de filtros-->
                <div class="menu text-center">
                    <div class="form-group">
                    <label for="combobox">Registros a partir de: </label>
                    <select name="combobox" id="filter" class="form-control" onchange="another(this.value);">
                        <option value=0>Elige una opcion ...</option>
                        <option value="1">Esta Semana</option>
                        <option value="2">Este Mes</option>
                        <option value="3">El Semestre</option>
                        <option value="4">El Año</option>
                        <option value="5">Otra fecha</a></option>
                    </select>
                    </div>
                    <span id = "act-btn", class = "btn btn-info">
                        <%= link_to raw("<i class='mi'>&#xE152;</i> Filtrar"), :option => 1 %>
                    </span>
                </div>

                <div class="menu text-center mb-4" style="display: none; position: relative">
                    <%= form_tag(history_registry_path, method: :get) do %>
                    <div class="form-group">
                        <label for="">Registros marcados en las fechas entre:</label>
                            <%= text_field_tag :since, params[:since], :class => 'date form-control',autocomplete: 'off' %>
                        <label for="">hasta:</label>
                            <%= text_field_tag :until, params[:until].nil? ? params[:until] : Time.parse(params[:until]).strftime('%d/%m/%Y'), :class => 'date form-control', autocomplete: 'off' %>
                    </div>
                    <%= button_tag(type: "submit", class: "btn btn-info") do %>
                        <i class='mi'>&#xE152;</i> Filtrar
                    <% end %>
                    <button type="button" class="btn btn-secondary" onclick="another(1);" style="position: absolute; bottom: 0; right: 0; margin: 10px;"><i class="mi md-18">&#xE863;</i></button>
                    
                    <% end %>
                    
                </div>
                <!-- Control de filtros-->
            </div>
            <% if @message %>
                <h2 class="text-center"><%= @message %></h2>
            <% end %>
        </div>
        <!-- Container simple -->
        
        <hr style="border-top: 1px solid silver; box-shadow: 0 0 10px gray; width: 80%">

        <!-- Chart -->
        <h3 class="text-center">Profesores que solicitaron proyector por departamento</h3>
<div class="hide-registry" style="overflow-x: scroll">
        <div class="char-container" style="position: relative; width: 95%; min-width:1000px; margin: 0 auto;">
            <canvas id="chart_teacher"></canvas>
        </div>
</div>
        <!-- Chart -->
        
        <!-- table -->
        <div is="list" class="my-3 hide-registry tables-reg" style="display: none">
            <%= form_tag(history_registry_path, method: :get) do %>
                <div class="form-group his-form">
                    <% if params[:option] %>
                        <%= hidden_field_tag :option, params[:option], value: params[:option]%>
                    <% end %>
                    <%= text_field_tag :teacher_id, params[:teacher_id], placeholder: "Introduce id de profesor", class: "form-control", autocomplete: "off", pattern: '\d+', title: 'Solo digitos, por favor'%>
                    <%= submit_tag "Buscar", class: "btn btn-outline-info" %>
                </div>
            <% end %>

            <div class="my-3 tables-reg">
                <table class="table table-striped table-hover table-sm table-responsive-md">
                <thead class="thead-dark">
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Profesor ID</th>
                    <th scope="col">Profesor</th>
                    <th scope="col">Salón</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Material</th>
                    <th scope="col">Tiempo en uso</th>
                    <th scope="col"><i class="mi md-18">&#xE92B;</i></th>
                    </tr>
                </thead>
                <tbody>

                    <% for t in @registry %>
                        <tr>
                        <th scope="row"><%= t.id %></th>
                        <% n = t.teacher %>
                        <td><%= n.code %></td>                    
                        <td><%= "#{n.surnames} #{n.name}" %></td>
                        <td><%= t.classroom.name %> </td>
                        <td><%= t.created_at.strftime '%a, %d %b %Y, %I:%M %P' %></td>
                        <td><%= t.article.name %></td>
                        <td><%= get_service(t) %></td>
                        <td><%= link_to raw("<i class='mi md-18'>&#xE876;</i>"), t, method: :delete, data: { confirm: 'Estas seguro de eliminarlo?' } %></td>
                        </tr>
                    <% end %>

                </tbody>
                </table>
            </div>
            <!-- table -->

            <%= page_entries_info @registry %>
            <%= will_paginate @registry, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
        </div>
    </div>

    <%= render 'layouts/footer' %>
</div>
        <script>
            <%= render :file => 'registries/registries.js.erb' %>
        </script>