<div class="grid-comp">
<%= render "layouts/headerDate" %>
<%= render "layouts/lateral" %>
    <div class="container main my-3">
        <h1>Nuevo Registro</h1>
        <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 my-2">
            <%= form_for(@registry) do |f| %>
                <%= f.hidden_field :user_id, :value => current_user.id %>
                <div class="form-group">
                    <%= f.label :teacher_id, "Código de profesor:", class: "control-label" %>
                    <%= f.text_field :teacher_id, class: "form-control", required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :article_id, "Material:", class: "control-label" %>
                    <%= f.select :article_id, Article.where(status: false, live: true).collect {|x| [x.name, x.id]}, {:include_blank => "Selecciona uno" }, class: "form-control combobox", required: true %>
                </div>
                <div class="form-group">
                    <%= f.label :classroom_id, "Aula:", class: "control-label" %>
                    <%= f.select :classroom_id, Classroom.where(status: false, live: true).collect {|x| [x.name, x.id]}, {:include_blank => "Selecciona uno" }, class: "form-control combobox", :onChange=>"optionBlank(this.value);", required: true %>
                </div>
                <%= f.submit "Guardar Registro", class: "btn btn-primary" %>
            <% end %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
             <div class="overflow">
             <h3 class="font-weight">Lista de Profesores</h3>
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Contrato</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if @teachers = Teacher.all.order('code ASC').where(status: false) %>
                        <%= render 'teachers/teacher' %>
                    <% else %>
                    <tr>
                    <td colspan="5" class="text-center">No fue posible encontrar al profesor con <br> <strong> nombre o código: <%= params[:search] %></strong></td>
                    </tr>
                    <% end %>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </div>
    <%= render 'layouts/footer' %>
</div>