<% @teachers.each do |x| %>
    <tr>
        <td scope="row"><%= x.code %></td>
        <td><%= x.name %></td>
        <td><%= x.surnames %></td>
        <td><%= Department.find(x.department_id).name %></td>
        <td><%= x.contract == true ? "Honorario" : "Plaza" %></td>
    </tr>
<% end %>
