<div class="grid-comp">
<%= render "layouts/headerDate" %>
<%= render "layouts/lateral" %>
    <div class="container main">
    <br>
    <h1>Profesores</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                <%= form_tag teachers_path, :method => "get", id: "search-form", class: "row" do %>
                    <div class="form-group col-8">
                        <%= text_field_tag :search, params[:search], placeholder: "Ingrese código o nombre", class: "form-control", autocomplete: :off%>
                    </div>
                    <div class="col-4">
                        <% if @teachers.present? %>
                            <%= submit_tag "Buscar profesor", class: "btn btn-info" %>
                        <% else %>
                            <%= link_to "Buscar profesor", teachers_path ,class: "btn btn-info" %>
                        <% end %>
                    </div>
                <% end %>

                <div class="overflow">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Code</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Departamento</th>
                            <th scope="col">Contrato</th>
                        </tr>
                    </thead>
                    <tbody>
                    <% if @teachers.present? %>
                        <%= render @teacher %>
                    <% else %>
                    <tr>
                    <td colspan="5" class="text-center">No fue posible encontrar al profesor con <br> <strong> nombre o código: <%= params[:search] %></strong></td>
                    </tr>
                    <% end %>
                    </tbody>
                </table>
                </div>
                <br>
                <div class="row my-3">
                    <div class="p-2 col-12" style="border:1px solid #00BCD4; background:#4DD0E1; border-radius:10px;">
                    
                        <!-- switch control -->
                        <div class="custom-controls-stacked d-flex justify-content-center flex-row">
                            <label class="custom-control custom-radio">
                                <input id="radioStacked1" name="radio-stacked" type="radio" class="custom-control-input" onclick="funA();">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Actualizar</span>
                            </label>
                            <label class="custom-control custom-radio">
                                <input id="radioStacked2" name="radio-stacked" type="radio" class="custom-control-input" onclick="funB();">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Borrar</span>
                            </label>
                        </div>
                        <!-- switch control -->                            

                        <div class="form-inline d-flex justify-content-center">
                            <label for="codig" class="mr-sm-2">Código del profesor => </label>

                            <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="codig">

                            <div id="upd">
                                <a id="trigger-du" href="" class="btn btn-warning" onclick="changeHref();">Actualizar</a>
                            </div>
                            
                            <div id="del" style="display:none;">
                                <a id="trigger-du" class="btn btn-warning" 
                                data-confirm="Esta seguro de borrar este registro?" 
                                rel="nofollow" 
                                data-method="delete" href="" onclick="changeHref();">Borrar</a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 my-3">
            <% if @teacher_find %>
                <h3>Actualizar registro</h3>
                <%= render 'teachers/update' %>
            <% else %>
                <h3>Nuevo Registro</h3>
                <%= render 'teachers/new' %>
            <% end %>
            </div>
            
        </div>
    </div>
    <%= render 'layouts/footer' %>
</div>
