<nav class="barra-lateral">
    <%= link_to teachers_path do %>
        <i class="mi md-36">person_pin</i>
        <small>Profesores</small>
    <% end %>
    <%= link_to departments_path do %>
        <i class="mi md-36">domain</i>
        <small>Departamentos</small>
    <% end %>
    <%= link_to articles_path do %>
        <i class="mi md-36">description</i>
        <small>Material</small>
    <% end %>
    <%= link_to classrooms_path do %>
        <i class="mi md-36">school</i>
        <small>Salones</small>
    <% end %>
    <%= link_to edit_user_registration_path do %>
        <i class="mi md-36">build</i>
        <small>Opciones</small>
    <% end %>
</nav>